.title{
    border-bottom: 1px solid #DEDEDE;

}
.center{
    text-align: center;
}
.feedback-text{
    font-family: Montserrat ;

}
textarea {
    resize: none;
  }
.text-area{
width: 896px;
height:191px ; 
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
border-radius: 9px;

}
.submitbutton{
    background-color: #11C4B0;
    color: #FFFFFF;
}
.question-modal-body {
    max-height: 150px; 
    overflow: auto;
}
