<div>
   <div class="title">
      <img src="assets/SolaVieve-Logo.png" alt="Solavieve Logo" width="306" height="80">
   </div>
   <div class="center ">
      <h1 class="feedback-text font-weight-bold mr-5">Leave a feedback!</h1>
      <h6>Rate your experience from 0 to 5 stars:</h6>
      <ng-rating-bar [(value)]="value" [ratingCount]="5" [styles]="{ fontSize: '80px'}" colorActive="#11C4B0"
         colorDefault="#D3D3D3"></ng-rating-bar>
      <h6>How satisfied are you with the payment process?</h6>
      <ng-rating-bar [(value)]="value" [ratingCount]="5" [styles]="{ fontSize: '80px'}" colorActive="#11C4B0"
         colorDefault="#D3D3D3"></ng-rating-bar>
      <h6>How satisfied are you with our customer service?</h6>
      <ng-rating-bar [(value)]="value" [ratingCount]="5" [styles]="{ fontSize: '80px'}" colorActive="#11C4B0"
         colorDefault="#D3D3D3"></ng-rating-bar>
      <h6>Please leave a comment about your experience below:</h6>
      <textarea class="text-area mt-3" placeholder="Type your comment here...
      " rows="3"></textarea>
      <div class="col-md-12 text-center mb-5">
         <button type="button" class="btn submitbutton mt-3" (click)="triggerModal(modalData)" >Submit</button>
     </div>


   </div>
   <ng-template #modalData let-modal  >
  
      <div class="modal-body " style="height: 250px;">
         <div class=" d-flex flex-column  align-items-center text-center justify-content-center">
            <img  src="assets/Group 7.png" alt="Solavieve Logo" width="83" height="120">

            <span class="mt-2">Thank you for your message!</span>
            <span >We will be in contact soon.</span>
            <button type="button" class="btn submitbutton mt-3 mb-2" (click)="modal.close('Save click')">Close</button>

         </div>

      </div>

    </ng-template>
</div>